body{
    background-color: white;
}

.titulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 26px;
}

.apresentacao_drone{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.apresentacao_drone p, .apresentacao_drone li{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    
}

#titulo_principal{
    font-size: 26px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}

.img{
    width: 100%;
}




