body{
    background-color: black;
    color: white;
}

.titulo{
    color: #1aff1a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 26px;
}

.apresentacao_drone{
    margin-top: 2em;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
} 

.apresentacao_drone p, .apresentacao_drone li{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    
}
#titt{
    margin-bottom: 0.5em;
}
#tit{
    margin-bottom: 1em;
}

#tittt{
    margin-bottom: 0.5em;
}
.img{
    width: 100%;
}

.seguranca{
    margin-top: 1em;
}

.seguranca > h2{
    margin-bottom: 0.5em;
}



.energia_limpa {
    margin-top: 1em;
}

.energia_limpa > h2{
    margin-bottom: 0.5em;
}

