body{
    background-color: lightgray;
}
#img1{
    width: 100%;
}
#img2{
    width: 980px;
    height: 100%;
}

#img3{
    width: 980px;
    height: 100%;
}
.apresentacao_drone{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#titulo{
    font-size: 26px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}